.container {
  height: 100vh;
  margin-left: 550px;
  display: flex;
  padding:20px;
  justify-content: center; 
  align-items: center;   
background:linear-gradient(30deg,rgb(8, 221, 221),rgb(133, 180, 255),rgb(120, 83, 255));  font-family: Arial, sans-serif;
  box-sizing: border-box; 
}

.todo-app {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 450px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}


.todo-app h1 {
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.input-container button {
  padding: 10px 15px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.2s;
}

.input-container button:hover {
  background-color: #57be5d;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background: #5b67c1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
}

li:hover {
  background: #539edf;
}

li span {
  flex: 1;
}

li.completed span {
  text-decoration: line-through;
  color: #888;
}

li button {
  background: #ff4d4d;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

li button:hover {
  background: #e60000;
}

.empty-msg {
  color: #888;
  margin-top: 20px;
}
